{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home | Sami Ur Rehman{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>{{home_heading}}</h1>
        <h2>Hi! I am Sami Ur Rehman 👋</h2>
        <p>
            {{home_short_skill}}
        </p>
    </div>
    <div class="hero-image" >
        <img src="{{home_picture}}" alt="samiurrehman">
    </div>

    
</section>
<div class="home-buttons">
    <a href="{% url 'contact' %}" class="home-contact-button">contact me →</a>
    <a href="{{resume.url}}" class="home-resume-button">my resume ⤓</a>
</div>

<h1 class="project-heading">Projects</h1>

<div class="card-container" style='padding-left: 20px;'>

    {% for project in projects %}
<div class="card">

    <img src="{{ project.Picture.url }}" alt="{{ project.ProName }}">

    <div class="card-body">

        <h3>
            <a href="{{ project.Live_site_link }}" target="_blank" rel="noopener noreferrer">
                {{ project.ProName }}
            </a>
        </h3>

        {% if project.Github_link %}
            <h3>
                
                <a href="{{ project.Github_link }}" target="_blank" rel="noopener noreferrer" style='text-decoration:none;'>
                <img src="{% static 'main/images/GitHub_Mark.png' %}" alt="GitHub" style='height: 40px; width: 40px;'>GitHub
                </a>
        </h3>
        {% endif %}

        <p class="project-text-short">
            {{ project.Description|truncatewords:20 |safe}}
        </p>

        {% if project.Description|wordcount > 20 %}
            <a href="#popup-{{ project.id }}" class="read-btn">
                Read more
            </a>
        {% endif %}

    </div> <!-- card-body end -->

</div> <!-- card end -->

<!-- POPUP MUST BE OUTSIDE CARD -->
<div id="popup-{{ project.id }}" class="popup-overlay">
    <div class="popup-box">

        <a href="#" class="popup-close">&times;</a>

        <h2><a href="{{project.Live_site_link}}" target='_blank' rel='noopener noreferrer' style='text-decoration:none;'>GO Site</a></h2>

        <div class="popup-content">
            {{ project.Description|safe|linebreaks }}
        </div>

    </div>
</div>
{% endfor %}
</div>
<div class="home-buttons">
    <a href="{% url 'project' %}" class="more-button">More Projects</a>
</div>
{% endblock %}
